<div class="landing">

  <div class="splash">
    <div class="hero">
      <span>available skallywags: {{ users.length }}</span>
      <h1>pirateXchange</h1>
      <div class="location">
        <p *ng-if="!me.location">Locating MATEY</p>
        <p *ng-if="me.location">Lat: {{ me.location.lat }} Long: {{ me.location.lng }}</p>
      </div>
      <button *ng-if="me.location" (click)="matchmaking()">MATCH</button>
      <p *ng-if="noMatches">No Matches AARGH. Trying again in {{ time }}s</p>
    </div>
  </div>

  <div class="callout">
    <div class="hero">
      <figure>
        <svg-icon src="../assets/direction141.svg"></svg-icon>
      </figure>
      <p>Match with nearest skallywag and offer up files</p>
      <figure>
        <svg-icon src="../assets/transport256.svg"></svg-icon>
      </figure>
      <p>Send your files through direct P2P connection</p>
    </div>
  </div>

  <div class="info">
    <div class="hero">
      <h4>What is pirateXchange?</h4>
      <p>A matchmaking service between you and the nearest possible user to exchange files.</p>
      <h4>How do I use it?</h4>
      <p>Once you enable location you will be automatically added to pool of users. From there you can initiate a search for a match or wait until someone finds you.</p>
      <h4>How does it work?</h4>
      <p>Once matched pirateXchange initiates a P2P connection between you and your match.</p>
      <h4>Can I transfer copyrighted material?</h4>
      <p>What you send is up to you. However, we suggest sending files you own the rights to.</p>
    </div>
  </div>

  <div class="footer">
    <footer class="hero">
      <p>&copy; pirateXchange | 2015</p>
      <p>Disclaimer: pirateXchange does not host or distribute any files directly, what is transmitted is solely provided by the using parties.</p>
    </footer>
  </div>

</div>
