<div class="landing">

  <div class="splash">
    <div class="hero">
      <h1>pirateXchange</h1>
      <div class="location">
        <p *ng-if="!me.location">Locating MATEY</p>
        <p *ng-if="me.location">Lat: {{ me.location.lat }} Long: {{ me.location.lng }}</p>
      </div>
      <button *ng-if="me.location" (click)="matchmaking()">MATCH</button>
      <p *ng-if="noMatches">No Matches AARGH</p>
    </div>
  </div>

  <div class="callout">
    <div class="hero">
      <figure>
        <svg-icon src="../assets/direction141.svg"></svg-icon>
      </figure>
      <p>Match with nearest skallywag and offer up files</p>
      <figure>
        <svg-icon src="../assets/transport256.svg"></svg-icon>
      </figure>
      <p>Send your files through direct P2P connection</p>
    </div>
  </div>

  <div class="info">
    <div class="hero">
    </div>
  </div>

</div>
