.landing {
  .splash {
    display: flex;
    height: 100vh;
    background: $primary-color;
    align-items: center;
    justify-content: space-around;
    .hero {
      align-self: center;
      h1, p {
        margin: 15px;
        text-align: center;
        color: white;
      }
      button {
        display: block;
        margin: 20px auto;
        padding: 30px;
        background: $success-color;
        color: white;
        font-size: 28px;
        font-weight: 700;
        border: none;
        outline: none;
      }
    }
  }
  .callout {
    @extend .splash;
    background: $secondary-color;
    text-align: center;
    .hero {
      padding: 0 120px;
    }
    .icon {
      width: get-vw(150px);
      height: get-vw(150px);
    }
    figure {
      display: inline-block;
      margin: 0 auto;
      padding: get-vw(10px);
      border-radius: 100%;
    }
    p {
      @include vw(30px, 20px, $tablet);
    }
  }
  .info {
    @extend .splash;
    background: $accent-color;
    text-align: center;
    h4 {
      color: white;
    }
  }
  .footer {
    @extend .splash;
    height: 500px;
    background: darken($support-color, 30%);
  }
}
